#ability-scores-area {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-bottom-color: var(--unity-colors-default-text);
    border-top-color: var(--unity-colors-default-text);
}

.property-list {
    flex-direction: row;
}

.property-list .property-value {
    flex-grow: 1;
}
